/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.p-disabled {
  opacity: .3;
}

.p-toast {
  white-space: pre-line;
  max-width: 95vw;
}

.p-datepicker .p-datepicker-day-selected {
  background: none !important;
  color: inherit !important;
  box-shadow: none !important;
}

.p-datepicker table td span {
  width: 2rem !important;
  height: 2rem !important;
  line-height: 2rem !important;
}
