/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

* {
  box-sizing: border-box;
}

.p-disabled {
  opacity: .3;
}

.p-toast {
  white-space: pre-line;
}