<p-dialog position="top" header="Valitse jakso" [modal]="true" [(visible)]="showPrintDialog" [style]="{ width: '25rem' }">
  <div>
    <label for="year">Vuosi</label>
    <p-select
      appendTo="body"
      id="year"
      [options]="years"
      scrollHeight="350px"
      [(ngModel)]="selectedYear"
      optionLabel="name"
      [style]="{ 'width': '200px' }"
      placeholder="Valitse kuukausi" />
  </div>
  <div style="margin-bottom: 15px">
    <label for="month">Kuukausi</label>
    <p-select
      id="month"
      appendTo="body"
      [options]="months"
      [(ngModel)]="selectedMonth"
      scrollHeight="350px"
      optionLabel="name"
      [style]="{ 'width': '200px' }"
      placeholder="Valitse kuukausi" />
  </div>
  <div style="margin-bottom: 15px">
    <label for="month">Jakso</label>
    <p-select
      [options]="splits"
      appendTo="body"
      [(ngModel)]="selectedSplit"
      optionLabel="name"
      [style]="{ 'width': '200px' }"
      placeholder="Valitse jakso" />
  </div>
  <div style="margin-top: 10px">
    <p-button [style]="{ 'margin-right': '10px' }" label="Peruuta" severity="secondary" (onClick)="showPrintDialog = false"/>
    <p-button label="Tulosta" severity="primary" (onClick)="generatePDF()"/>
  </div>
</p-dialog>
<form class="content" [formGroup]="timeEntryForm" (ngSubmit)="onSubmit()">
  <section>
    <p-button
      (click)="showPrintDialog = true"
      severity="info"
      type="button">
      <i class="pi pi-print" style="font-size: 1.3rem"></i>
    </p-button>

    @if (isEditing) {
      <h2>Muokkaa</h2>
    } @else {
      <h2>Lisää merkintä</h2>
    }

    <p style="text-align: center;">
      {{ timeEntryForm.get('selectedDate')?.value | date: 'dd.MM.yyyy' }}
    </p>

    <div class="calendar">
      <p-datePicker
        id="date"
        formControlName="selectedDate"
        inline="true"
        [firstDayOfWeek]="1"
        [maxDate]="today">
        <ng-template pTemplate="date" let-date>
          <span [ngStyle]="getDateStyle(date, timeEntryForm.get('selectedDate')?.value, timeEntries)">
            {{ date.day }}
          </span>
        </ng-template>
      </p-datePicker>
    </div>

    <!-- label + buttons row -->
    <div class="button-row">
      <span class="hours-span">Tunnit {{ totalHours }}</span>
      <div class="button-container-column">
        @if (hasEntryForSelectedDate) {
          @if (isEditing) {
            <button class="big-button" (click)="toggleLunch()" type="button"
                    [ngStyle]="{ 'background-color': hasLunch ? '#28a745' : '#dc3545' }">
              <i class="pi pi-clock"></i>
            </button>
            <button class="big-button big-save-button" (click)="updateTimeEntry()" type="button"
                    [disabled]="timeEntryForm.invalid">
              <i class="pi pi-save"></i>
            </button>
            <button class="big-button big-undo-button" (click)="disableEditing()" type="button"
                    [disabled]="timeEntryForm.invalid">
              <i class="pi pi-undo"></i>
            </button>
          } @else {
            <button class="big-button big-edit-button" (click)="enableEditing()" type="button"
                    [disabled]="timeEntryForm.invalid">
              <i class="pi pi-pencil"></i>
            </button>
            <button class="big-button big-trash-button" (click)="deleteTimeEntry()" type="button"
                    [disabled]="timeEntryForm.invalid">
              <i class="pi pi-trash"></i>
            </button>
          }
        } @else {
          <button class="big-button big-plus-button" type="submit" [disabled]="timeEntryForm.invalid">
            <i class="pi pi-plus"></i>
          </button>
        }
      </div>
    </div>

    <!-- time fields row -->
    <div class="time-row">
      <div class="time-fields">
        <div class="time-field">
          <label for="startTime">Alkanut</label>
          <p-datePicker
            id="startTime"
            formControlName="startTime"
            timeOnly="true"
            hourFormat="24">
          </p-datePicker>
        </div>

        <div class="time-field">
          <label for="endTime">Päättynyt</label>
          <p-datePicker
            id="endTime"
            formControlName="endTime"
            timeOnly="true"
            hourFormat="24">
          </p-datePicker>
        </div>
      </div>
    </div>

  </section>
</form>
